<div>
  <h3>Portfolio (**requires authentication**)</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Description</th>
        <th>Action</th>
        <th>Route</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Portfolio Performance for last year</strong></td>
        <td>GET</td>
        <td>/api/users/<strong>:user_id</strong>/last_year_portfolio_performance</td>
      </tr>
    </tbody>
  </table>
</div>
