<form class="user-form" action="/api/sessions" method="post">
  <input type="text" name="email" value="">
  <input type="password" name="password" value="">
  <input type="submit" value="submit">
</form>
